.inputCard{
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 20px;
}
.pageHandler{
    width:100%;
    height:100px;
    margin-top: 30px; 
    display: flex; 
    justify-content: center;
    align-items:end;
    gap:10px
}
.buttonText{
    width:90px;
    height: 30px;
    display: flex; 
    justify-content:center;
    align-items:center;
    gap:10px;
    text-align: center;
}
.buttons{
    width:90px;
    height: 30px;
    display: flex; 
    justify-content:center;
    align-items:center;
}