.layoutWrapper{
    padding: 15px;
}
.firstLayout{
    padding-right: 5px;
}
.secondLayout{
    padding-left: 5px;
}
.activeCheckbox{
    margin-top: 30px;
}
.address{
    margin-top: 10px;
}
.footerWrapper{
    margin: 30px 0;
}
.rejectButtonWrapper{
    position: relative;    
}
.rejectButton{
    position: absolute;
    right: 10px;
}

 /* Responsive Styles */
.responsive-modal {
    max-width: 90%;
    width: 90%;
    margin: auto;
  }
  
  .text-area {
    width: calc(100% - 22px); /* Adjust for padding, margins, and border width */
    resize: vertical; /* Allow vertical resizing */
    box-sizing: border-box; /* Include padding and borders in the width */
    border: 1px solid #090909; /* Add a border style to ensure visibility */
  }
  
  /* Additional Responsive CSS as per your layout needs */
  /* You may need to adjust widths, margins, paddings, and other styles to fit your design */